@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);






#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#header4-1 H1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#header4-1 .btn {
  font-family: 'Oswald', sans-serif;
}
#header4-1 P {
  text-align: center;
}
#contacts1-2 P {
  color: #ffffff;
}
#contacts1-2 STRONG {
  text-align: center;
}
#social-buttons2-3 .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #252525;
  font-size: 18px;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}




#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5 .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-5 .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#features1-d .mbr-section-title .mbr-header__text {
  color: #2969b0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}
#features1-d .mbr-section__col .mbr-header__text {
  text-align: center;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}




#menu-f .mbr-brand__name {
  font-size: 16px;
}
#menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-f .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-f .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#features1-h .mbr-section-title .mbr-header__text {
  color: #2969b0;
  font-family: 'Oswald', sans-serif;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}





#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-i .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-i .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#features1-k .mbr-section-title .mbr-header__text {
  color: #2c82c9;
  font-family: 'Oswald', sans-serif;
}
#features1-k .mbr-section__col .mbr-header__text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}




#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-l .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-l .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#features1-n .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#features1-n .mbr-section-title .mbr-header__text {
  font-family: 'Oswald', sans-serif;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}




#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-o .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-o .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#features1-q .mbr-section-title .mbr-header__text {
  font-family: 'Oswald', sans-serif;
}
#features1-q .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}




#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-r .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-r .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#features1-t .mbr-section-title .mbr-header__text {
  font-family: 'Oswald', sans-serif;
}
#features1-t .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}




#menu-u .mbr-brand__name {
  font-size: 16px;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-u .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
#menu-u .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#features1-x .mbr-section-title .mbr-header__text {
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}
#footer1-4 P {
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
